:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #FFFFFF;
    --transition-props: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.list {
    font-style: normal;
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
    margin-right: 76px;
}

.logo-dark {
    color: var(--navy-blue);
}

.site-nav {
    display: flex;
    gap: 40px;
}

.site-nav .link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
    transition: color var(--transition-props);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--ocean);
}

.site-nav .link.current {
    position: relative;
    color: var(--ocean);
}

.site-nav .link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
}

.auth-nav {
    margin-left: auto;
}

.auth-nav .list {
    display: flex;
    gap: 40px;
}

.auth-nav .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
    transition: color var(--transition-props);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--ocean);
}

.hero {
    background-color: var(--navy-blue);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
    margin: 0 auto 48px;
}

.button.primary {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-props);
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--ocean);
}

.section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list .item {
    flex-basis: calc((100% - 72px) / 4);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: var(--cloud);
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 0;
    text-align: center;
}

.portfolio-item > .card-content {
    text-align: left;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-props);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--ocean);
}

.social-icon {
    fill: var(--cloud);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow var(--transition-props);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transition-props);
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item .card-content {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.page-footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-motto {
    margin-right: 120px;
}

.page-footer p {
    margin-bottom: 16px;
}

.page-footer .logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-light {
    color: var(--cloud);
}

.page-footer .logo-motto .text {
    line-height: 1.5;
    color: var(--white);
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-top: 0;
}

.page-footer .social-list {
    gap: 16px;
}

.page-footer .social-link:hover,
.page-footer .social-link:focus {
    background-color: #31d0aa;
}